body {
    background-color: white;
    margin: 0px !important;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* INDEX (HOME) PAGE */

.left-column {
    background-color: lightpink;
    opacity: 0.6;
    float: left;
    width: 17%;
    height: 100%;
}

.rightindex-column {
    float: right;
    width: 91%;
    max-height: 100%;
}

.text-fpg {
    text-align: center;
    color: palevioletred;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.indeximg {
    position: absolute;
    bottom: 0px;
    float: left;
    
}



/* ABOUT PAGE */

.right-column-about {
    float: right;
    width: 83%;
    height: 100%;
}

.text-about {
    padding-top: 6%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 0px;
    overflow: auto;
}

.para-about {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title-about {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/* PODCAST PAGE */

.right-column-pod {
    float: right;
    width: 83%;
    height: 100%;
}

.text-pod {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 0px;
    overflow: auto;
    text-align: center;
}

.pod-link {
    text-align: center;
    padding: 2%;
}


/* GRAPHICS PAGE */



/* FEEDING SOUTH FLORIDA PAGE */

.right-column-fsf {
    float: right;
    width: 83%;
    height: 100%;
}


