body {
    background-color: white;
    margin: 0px !important;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.left-column {
    background-color: lightpink;
    opacity: 0.6;
    float: left;
    width: 17%;
    height: 100%; 
}

.right-column {
    float: right;
    width: 83%;
    height: 100%;
}

.text-fpg {
    text-align: center;
    color: palevioletred;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.indeximg {
    position: absolute;
    bottom: 0px;
    float: left;
    
}


