* {
    box-sizing: border-box;
  }
  
  /* Add a gray background color with some padding */
  body {
    font-family: Arial;
    padding: 20px;
    background: lavenderblush;
  }
  
  /* Header */
  .header {
    padding: 30px;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    background: white;
  }
  
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
    text-align: center;
  }
  
  /* image */
  .img {
    background-color: #aaa;
    height: 110%;
    width: 100%;
    padding: 20px;
  }

  /* image FIU */
  .imgFIU {
    width: 100px;
    padding: 20px;
    text-align-last: justify;
  }

  /* profile image */
  .profileimg {
  }
  
  /* Add a card effect for articles */
  .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
     height:45%;
  }
  
  .profilecard {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    height:110%;
 }

  .cardFIU {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    height: 145%;
 }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: lightcyan;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }